.destination {
    margin-top: 5rem;
}


.destination-form,
.overview {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 2rem;
    border: 1px solid lightgrey;
}

.overview div {
    border-radius: 6px;
}

.overview-result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    padding: .75rem;
    height: 4.5rem;
}

.destination-img {
    height: 2.5rem;
}

.destination-map {
    height: 37.5rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid lightgrey;
}